<div class="wrapper">
  <div class="colors">
    <div>
      <h3>Primary Color</h3>
      <input
        [(colorPicker)]="primaryColor"
        [style.background]="primaryColor"
        [cpOKButton]="true"
        [cpCancelButton]="true"
        (colorPickerSelect)="setColor($event, 'primary')"/>
    </div>

    <div>
      <h3>Secondary Color</h3>
      <input
        [(colorPicker)]="secondaryColor"
        [style.background]="secondaryColor"
        [cpOKButton]="true"
        [cpCancelButton]="true"
        (colorPickerSelect)="setColor($event, 'secondary')"/>
    </div>

    <div>
      <h3>Warn Color</h3>
      <input
        [(colorPicker)]="warnColor"
        [style.background]="warnColor"
        [cpOKButton]="true"
        [cpCancelButton]="true"
        (colorPickerSelect)="setColor($event, 'warn')"/>
    </div>
  </div>
</div>
