$light-theme-primary-color-palette: (
  50 : #e0faf7,
  100 : #b3f3eb,
  200 : #80ebde,
  300 : #4de3d1,
  400 : #26ddc7,
  500 : #00d7bd,
  600 : #00d3b7,
  700 : #00cdae,
  800 : #00c7a6,
  900 : #00be98,
  A100 : #e6fff9,
  A200 : #b3ffee,
  A400 : #80ffe2,
  A700 : #67ffdd,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$light-theme-secondary-color-palette: (
    50 : #e0e0f3,
    100 : #b3b3e0,
    200 : #8080cc,
    300 : #4d4db8,
    400 : #2626a8,
    500 : #000099,
    600 : #000091,
    700 : #000086,
    800 : #00007c,
    900 : #00006b,
    A100 : #9a9aff,
    A200 : #6767ff,
    A400 : #3434ff,
    A700 : #1a1aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-theme-warn-color-palette: (
    50 : #fde9ee,
    100 : #fac8d4,
    200 : #f7a3b7,
    300 : #f47e9a,
    400 : #f16385,
    500 : #ef476f,
    600 : #ed4067,
    700 : #eb375c,
    800 : #e82f52,
    900 : #e42040,
    A100 : #ffffff,
    A200 : #ffe8eb,
    A400 : #ffb5c0,
    A700 : #ff9caa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
