@import './color-palettes';

$light-primary: mat-palette($light-theme-primary-color-palette);
$light-accent: mat-palette($light-theme-secondary-color-palette);
$light-warn: mat-palette($light-theme-warn-color-palette);

$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));
