@import './custom-theme.scss';

@font-face {
  font-family: Caveat;
  src: url(assets/fonts/Caveat/static/Caveat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Caveat;
  src: url(assets/fonts/Caveat/static/Caveat-Bold.ttf);
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Caveat; }
