<div class="wrapper custom-component">
  <div class="component-wrapper">
    <div class="header">Title</div>
    <div class="body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptatibus asperiores veritatis totam nemo aliquam sunt commodi eos, recusandae tenetur delectus repellendus cumque adipisci in necessitatibus dolorem provident numquam error.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cupiditate ratione corporis enim unde. Possimus, aperiam? Autem voluptate nam possimus maxime, ipsum, asperiores fugit sapiente culpa, provident non placeat quasi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque culpa, optio dolore vitae deleniti laborum a illo repellat at eveniet beatae. Consectetur laudantium amet ad. Earum porro et deserunt?
    </div>
    <div class="action-buttons">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
    </div>
  </div>
</div>
