.wrapper {
  padding: 15px;
}

.component-wrapper {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
}

.body {
  flex: 1;
  padding: 10px;
}

.action-buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 10px;
  }
}
