$theme-primary-color-map: (
  50: var(--dark-theme-primary-color-50),
  100: var(--dark-theme-primary-color-100),
  200: var(--dark-theme-primary-color-200),
  300: var(--dark-theme-primary-color-300),
  400: var(--dark-theme-primary-color-400),
  500: var(--dark-theme-primary-color-500),
  600: var(--dark-theme-primary-color-600),
  700: var(--dark-theme-primary-color-700),
  800: var(--dark-theme-primary-color-800),
  900: var(--dark-theme-primary-color-900),
  A100: var(--dark-theme-primary-color-A100),
  A200: var(--dark-theme-primary-color-A200),
  A400: var(--dark-theme-primary-color-A400),
  A700: var(--dark-theme-primary-color-A700),
  contrast: (
    50: var(--dark-theme-primary-color-contrast-50),
    100: var(--dark-theme-primary-color-contrast-100),
    200: var(--dark-theme-primary-color-contrast-200),
    300: var(--dark-theme-primary-color-contrast-300),
    400: var(--dark-theme-primary-color-contrast-400),
    500: var(--dark-theme-primary-color-contrast-500),
    600: var(--dark-theme-primary-color-contrast-600),
    700: var(--dark-theme-primary-color-contrast-700),
    800: var(--dark-theme-primary-color-contrast-800),
    900: var(--dark-theme-primary-color-contrast-900),
    A100: var(--dark-theme-primary-color-contrast-A100),
    A200: var(--dark-theme-primary-color-contrast-A200),
    A400: var(--dark-theme-primary-color-contrast-A400),
    A700: var(--dark-theme-primary-color-contrast-A700),
  ),
);

$theme-accent-color-map: (
  50: var(--dark-theme-accent-color-50),
  100: var(--dark-theme-accent-color-100),
  200: var(--dark-theme-accent-color-200),
  300: var(--dark-theme-accent-color-300),
  400: var(--dark-theme-accent-color-400),
  500: var(--dark-theme-accent-color-500),
  600: var(--dark-theme-accent-color-600),
  700: var(--dark-theme-accent-color-700),
  800: var(--dark-theme-accent-color-800),
  900: var(--dark-theme-accent-color-900),
  A100: var(--dark-theme-accent-color-A100),
  A200: var(--dark-theme-accent-color-A200),
  A400: var(--dark-theme-accent-color-A400),
  A700: var(--dark-theme-accent-color-A700),
  contrast: (
    50: var(--dark-theme-accent-color-contrast-50),
    100: var(--dark-theme-accent-color-contrast-100),
    200: var(--dark-theme-accent-color-contrast-200),
    300: var(--dark-theme-accent-color-contrast-300),
    400: var(--dark-theme-accent-color-contrast-400),
    500: var(--dark-theme-accent-color-contrast-500),
    600: var(--dark-theme-accent-color-contrast-600),
    700: var(--dark-theme-accent-color-contrast-700),
    800: var(--dark-theme-accent-color-contrast-800),
    900: var(--dark-theme-accent-color-contrast-900),
    A100: var(--dark-theme-accent-color-contrast-A100),
    A200: var(--dark-theme-accent-color-contrast-A200),
    A400: var(--dark-theme-accent-color-contrast-A400),
    A700: var(--dark-theme-accent-color-contrast-A700),
  ),
);

$theme-warn-color-map: (
  50: var(--dark-theme-warn-color-50),
  100: var(--dark-theme-warn-color-100),
  200: var(--dark-theme-warn-color-200),
  300: var(--dark-theme-warn-color-300),
  400: var(--dark-theme-warn-color-400),
  500: var(--dark-theme-warn-color-500),
  600: var(--dark-theme-warn-color-600),
  700: var(--dark-theme-warn-color-700),
  800: var(--dark-theme-warn-color-800),
  900: var(--dark-theme-warn-color-900),
  A100: var(--dark-theme-warn-color-A100),
  A200: var(--dark-theme-warn-color-A200),
  A400: var(--dark-theme-warn-color-A400),
  A700: var(--dark-theme-warn-color-A700),
  contrast: (
    50: var(--dark-theme-warn-color-contrast-50),
    100: var(--dark-theme-warn-color-contrast-100),
    200: var(--dark-theme-warn-color-contrast-200),
    300: var(--dark-theme-warn-color-contrast-300),
    400: var(--dark-theme-warn-color-contrast-400),
    500: var(--dark-theme-warn-color-contrast-500),
    600: var(--dark-theme-warn-color-contrast-600),
    700: var(--dark-theme-warn-color-contrast-700),
    800: var(--dark-theme-warn-color-contrast-800),
    900: var(--dark-theme-warn-color-contrast-900),
    A100: var(--dark-theme-warn-color-contrast-A100),
    A200: var(--dark-theme-warn-color-contrast-A200),
    A400: var(--dark-theme-warn-color-contrast-A400),
    A700: var(--dark-theme-warn-color-contrast-A700),
  ),
);

$theme-primary-palette: mat-palette($theme-primary-color-map);
$theme-accent-palette: mat-palette($theme-accent-color-map);
$theme-warn-palette: mat-palette($theme-warn-color-map);
