:root {
  --dark-theme-primary-color-50: #f3e5f6;
  --dark-theme-primary-color-contrast-50: #000;
  --dark-theme-primary-color-100: #e1bee7;
  --dark-theme-primary-color-contrast-100: #000;
  --dark-theme-primary-color-200: #ce93d8;
  --dark-theme-primary-color-contrast-200: #000;
  --dark-theme-primary-color-300: #ba68c8;
  --dark-theme-primary-color-contrast-300: #000;
  --dark-theme-primary-color-400: #ab47bc;
  --dark-theme-primary-color-contrast-400: #fff;
  --dark-theme-primary-color-500: #9c27b0;
  --dark-theme-primary-color-contrast-500: #fff;
  --dark-theme-primary-color-600: #9423a9;
  --dark-theme-primary-color-contrast-600: #fff;
  --dark-theme-primary-color-700: #8a1da0;
  --dark-theme-primary-color-contrast-700: #fff;
  --dark-theme-primary-color-800: #801797;
  --dark-theme-primary-color-contrast-800: #fff;
  --dark-theme-primary-color-900: #6e0e87;
  --dark-theme-primary-color-contrast-900: #fff;
  --dark-theme-primary-color-A100: #f5e5ff;
  --dark-theme-primary-color-contrast-A100: #000;
  --dark-theme-primary-color-A200: #e0b2ff;
  --dark-theme-primary-color-contrast-A200: #000;
  --dark-theme-primary-color-A400: #cb7fff;
  --dark-theme-primary-color-contrast-A400: #000;
  --dark-theme-primary-color-A700: #c166ff;
  --dark-theme-primary-color-contrast-A700: #000;

  --dark-theme-accent-color-50 :#e0f2f1;
  --dark-theme-accent-color-contrast-50 :#000;
  --dark-theme-accent-color-100 :#b3e0db;
  --dark-theme-accent-color-contrast-100 :#000;
  --dark-theme-accent-color-200 :#80cbc4;
  --dark-theme-accent-color-contrast-200 :#000;
  --dark-theme-accent-color-300 :#4db6ac;
  --dark-theme-accent-color-contrast-300 :#000;
  --dark-theme-accent-color-400 :#26a69a;
  --dark-theme-accent-color-contrast-400 :#fff;
  --dark-theme-accent-color-500 :#009688;
  --dark-theme-accent-color-contrast-500 :#fff;
  --dark-theme-accent-color-600 :#008e80;
  --dark-theme-accent-color-contrast-600 :#fff;
  --dark-theme-accent-color-700 :#008375;
  --dark-theme-accent-color-contrast-700 :#fff;
  --dark-theme-accent-color-800 :#00796b;
  --dark-theme-accent-color-contrast-800 :#fff;
  --dark-theme-accent-color-900 :#006858;
  --dark-theme-accent-color-contrast-900 :#fff;
  --dark-theme-accent-color-A100 :#bbffe2;
  --dark-theme-accent-color-contrast-A100 :#000;
  --dark-theme-accent-color-A200 :#88ffcc;
  --dark-theme-accent-color-contrast-A200 :#000;
  --dark-theme-accent-color-A400 :#55ffb6;
  --dark-theme-accent-color-contrast-A400 :#000;
  --dark-theme-accent-color-A700 :#3cffab;
  --dark-theme-accent-color-contrast-A700 :#000;

  --dark-theme-warn-color-50: #fee8e7;
  --dark-theme-warn-color-contrast-50: #000;
  --dark-theme-warn-color-100: #fcc7c3;
  --dark-theme-warn-color-contrast-100: #000;
  --dark-theme-warn-color-200: #faa19b;
  --dark-theme-warn-color-contrast-200: #000;
  --dark-theme-warn-color-300: #f77b72;
  --dark-theme-warn-color-contrast-300: #000;
  --dark-theme-warn-color-400: #f65f54;
  --dark-theme-warn-color-contrast-400: #000;
  --dark-theme-warn-color-500: #f44336;
  --dark-theme-warn-color-contrast-500: #fff;
  --dark-theme-warn-color-600: #f33d30;
  --dark-theme-warn-color-contrast-600: #fff;
  --dark-theme-warn-color-700: #f13429;
  --dark-theme-warn-color-contrast-700: #fff;
  --dark-theme-warn-color-800: #ef2c22;
  --dark-theme-warn-color-contrast-800: #fff;
  --dark-theme-warn-color-900: #ec1e16;
  --dark-theme-warn-color-contrast-900: #fff;
  --dark-theme-warn-color-A100: #ffffff;
  --dark-theme-warn-color-contrast-A100: #000;
  --dark-theme-warn-color-A200: #ffffff;
  --dark-theme-warn-color-contrast-A200: #000;
  --dark-theme-warn-color-A400: #ffdbe0;
  --dark-theme-warn-color-contrast-A400: #000;
  --dark-theme-warn-color-A700: #ffc2c9;
  --dark-theme-warn-color-contrast-A700: #000;
}
